<?xml version="1.0"?>
<config>
  <modules>
    <Codeclouds_Payleap>
      <version>0.1.0</version>
    </Codeclouds_Payleap>
  </modules>
  <global>
    <models>
      <payleap>
        <class>Codeclouds_Payleap_Model</class>
		<resourceModel>payleap_mysql4</resourceModel>
      </payleap>
	  <payleap_mysql4>
            <class>Mage_Payleap_Model_Mysql4</class>
            <entities>
                <payleap_debug><table>paygate_authorizenet_debug</table></payleap_debug>
            </entities>
         </payleap_mysql4>
    </models>
    <resources>
      <payleap_setup>
        <setup>
          <module>Codeclouds_Payleap</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </payleap_setup>
      <payleap_write>
        <connection>
          <use>core_write</use>
        </connection>
      </payleap_write>
      <payleap_read>
        <connection>
          <use>core_read</use>
        </connection>
      </payleap_read>
    </resources>
	<helpers>
      <payleap>
        <class>Codeclouds_Payleap_Helper</class>
      </payleap>
    </helpers>
	<blocks>
		<payleap>
			<class>Codeclouds_Payleap_Block</class>
		</payleap>
	</blocks>
  </global>
  <default>
    <payment>
      <payleap>
        <active>0</active>
        <model>payleap/payment</model>
        <order_status>pending</order_status>
        <title>Credit Card Payment with Payleap</title>
		<user_name>demo</user_name>
        <password>demo</password>
        <cctypes>AE,VI,MC,DI</cctypes>
        <payment_action>authorize_capture</payment_action>
		<order_status>1</order_status>
		<gateway_url>http://test.payleap.com/SmartPayments/transact.asmx/ProcessCreditCard</gateway_url>
      </payleap>
    </payment>
  </default>
</config>
