*.pyc
*.bak
*.class
.svn/
build/
data/
*.log
d3/
.settings/
tmp/
ENV/
WIN/
db.sqlite
logs/
.DS_Store
*.DS_Store
dev.py
prod.py
nohup.out
mobile/www/index.html
mobile/www/www/
webroot/demo/var/cache/



