<?xml version="1.0"?>
<!--
/**
 * Add In Mage::
 *
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the EULA that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL: http://add-in-mage.com/support/presales/eula/
 *
 *
 * PROPRIETARY DATA
 * 
 * This file contains trade secret data which is the property of Add In Mage:: Ltd. 
 * This file is submitted to recipient in confidence.
 * Information and source code contained herein may not be used, copied, sold, distributed, 
 * sub-licensed, rented, leased or disclosed in whole or in part to anyone except as permitted by written
 * agreement signed by an officer of Add In Mage:: Ltd.
 * 
 * 
 * MAGENTO EDITION NOTICE
 * 
 * This software is designed for Magento Community edition.
 * Add In Mage:: Ltd. does not guarantee correct work of this extension on any other Magento edition.
 * Add In Mage:: Ltd. does not provide extension support in case of using a different Magento edition.
 * 
 * 
 * @category    AddInMage
 * @package     AddInMage_SpreadTheWord
 * @copyright   Copyright (c) 2012 Add In Mage:: Ltd. (http://www.add-in-mage.com)
 * @license     http://add-in-mage.com/support/presales/eula/  End User License Agreement (EULA)
 * @author      Add In Mage:: Team <team@add-in-mage.com>
 */
-->
<config>
  <default>
    <addinmage_spreadtheword>
      <general>
        <access>both</access>
        <visualization>1</visualization>
      </general>
      <display>
        <services_per_line>3</services_per_line>
        <services_per_row>4</services_per_row>
      </display>
      <services>
        <file>1</file>
        <file_services>ldif,vcard</file_services>
        <manual>1</manual>
        <max_recipients>50</max_recipients>
      </services>
      <contact>
        <show_picture>1</show_picture>
        <alpha_index>smart</alpha_index>
      </contact>
      <message>
        <direct_message_simple>addinmage_spreadtheword_message_direct_message_simple</direct_message_simple>
        <direct_message_discount>addinmage_spreadtheword_message_direct_message_discount</direct_message_discount>
        <direct_twitter_simple>addinmage_spreadtheword_message_direct_twitter_simple</direct_twitter_simple>
        <direct_twitter_discount>addinmage_spreadtheword_message_direct_twitter_discount</direct_twitter_discount>
        <max_chars_direct>400</max_chars_direct>
      </message>
      <behaviour>
        <invite_customers>1</invite_customers>
        <invite_invited>1</invite_invited>
        <rules>inv</rules>
        <account>0</account>
      </behaviour>
      <advanced>
        <expire_notifications>0</expire_notifications>
        <notifications>0</notifications>
        <identity>general</identity>
        <notification_template>addinmage_spreadtheword_advanced_notification_template</notification_template>
      </advanced>
      <email>
        <identity>general</identity>
        <sender_confirmation>addinmage_spreadtheword_email_sender_confirmation</sender_confirmation>
        <simple_invitation>addinmage_spreadtheword_email_simple_invitation</simple_invitation>
        <discount_to_sender>addinmage_spreadtheword_email_discount_to_sender</discount_to_sender>
        <discount_to_friends>addinmage_spreadtheword_email_discount_to_friends</discount_to_friends>
        <max_chars>400</max_chars>
      </email>
      <tracking>
        <lifetime_tracking>0</lifetime_tracking>
      </tracking>
    </addinmage_spreadtheword>
  </default>
  <modules>
    <AddInMage_SpreadTheWord>
      <version>1.0.0</version>
    </AddInMage_SpreadTheWord>
  </modules>
  <frontend>
    <routers>
      <spreadtheword>
        <use>standard</use>
        <args>
          <module>AddInMage_SpreadTheWord</module>
          <frontName>spreadtheword</frontName>
        </args>
      </spreadtheword>
    </routers>
    <layout>
      <updates>
        <spreadtheword>
          <file>addinmage/spreadtheword.xml</file>
        </spreadtheword>
      </updates>
    </layout>
    <translate>
      <modules>
        <spreadtheword>
          <files>
            <default>AddInMage_SpreadTheWord.csv</default>
          </files>
        </spreadtheword>
      </modules>
    </translate>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <spreadtheword>
          <file>addinmage/spreadtheword.xml</file>
        </spreadtheword>
      </updates>
    </layout>
    <events>
      <controller_action_predispatch_adminhtml_promo_quote_delete>
        <observers>
          <check_coupon_on_delete>
            <class>AddInMage_SpreadTheWord_Model_Observer</class>
            <method>check_coupon_on_delete</method>
          </check_coupon_on_delete>
        </observers>
      </controller_action_predispatch_adminhtml_promo_quote_delete>
      <adminhtml_controller_salesrule_prepare_save>
        <observers>
          <check_coupon_on_save>
            <class>AddInMage_SpreadTheWord_Model_Observer</class>
            <method>check_coupon_on_save</method>
          </check_coupon_on_save>
        </observers>
      </adminhtml_controller_salesrule_prepare_save>
      <controller_action_predispatch_adminhtml_promo_quote_edit>
        <observers>
          <check_coupon_on_edit>
            <class>AddInMage_SpreadTheWord_Model_Observer</class>
            <method>check_coupon_on_edit</method>
          </check_coupon_on_edit>
        </observers>
      </controller_action_predispatch_adminhtml_promo_quote_edit>
      <core_block_abstract_prepare_layout_after>
        <observers>
          <addMassAction>
            <type>singleton</type>
            <class>AddInMage_SpreadTheWord_Model_Observer</class>
            <method>addMassAction</method>
          </addMassAction>
        </observers>
      </core_block_abstract_prepare_layout_after>
      <admin_session_user_login_success>
        <observers>
          <clearExpNotice>
            <type>singleton</type>
            <class>AddInMage_SpreadTheWord_Model_Observer</class>
            <method>clearExpNotice</method>
          </clearExpNotice>
        </observers>
      </admin_session_user_login_success>
    </events>
    <translate>
      <modules>
        <spreadtheword>
          <files>
            <default>AddInMage_SpreadTheWord.csv</default>
          </files>
        </spreadtheword>
      </modules>
    </translate>
  </adminhtml>
  <admin>
    <routers>
      <spreadtheword>
        <use>admin</use>
        <args>
          <module>AddInMage_SpreadTheWord</module>
          <frontName>spreadtheword</frontName>
        </args>
      </spreadtheword>
    </routers>
    <layout>
      <updates>
        <spreadtheword>
          <file>addinmage/spreadtheword.xml</file>
        </spreadtheword>
      </updates>
    </layout>
  </admin>
  <global>
    <models>
      <spreadtheword>
        <class>AddInMage_SpreadTheWord_Model</class>
        <resourceModel>spreadtheword_mysql4</resourceModel>
      </spreadtheword>
      <spreadtheword_mysql4>
        <class>AddInMage_SpreadTheWord_Model_Mysql4</class>
        <entities>
          <services>
            <table>spreadtheword_services</table>
          </services>
          <friends>
            <table>spreadtheword_friends</table>
          </friends>
          <rules>
            <table>spreadtheword_rules</table>
          </rules>
          <queue>
            <table>spreadtheword_queue</table>
          </queue>
          <data>
            <table>spreadtheword_queue_data</table>
          </data>
          <problems>
            <table>spreadtheword_queue_problems</table>
          </problems>
          <sales>
            <table>spreadtheword_sales</table>
          </sales>
        </entities>
      </spreadtheword_mysql4>
    </models>
    <resources>
      <spreadtheword_setup>
        <setup>
          <module>AddInMage_SpreadTheWord</module>
          <class>AddInMage_SpreadTheWord_Model_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </spreadtheword_setup>
      <spreadtheword_write>
        <connection>
          <use>core_write</use>
        </connection>
      </spreadtheword_write>
      <spreadtheword_read>
        <connection>
          <use>core_read</use>
        </connection>
      </spreadtheword_read>
    </resources>
    <blocks>
      <spreadtheword>
        <class>AddInMage_SpreadTheWord_Block</class>
      </spreadtheword>
    </blocks>
    <helpers>
      <spreadtheword>
        <class>AddInMage_SpreadTheWord_Helper</class>
      </spreadtheword>
    </helpers>
    <template>
      <email>
        <addinmage_spreadtheword_email_sender_confirmation translate="label" module="spreadtheword" >
          <label>Add In Mage::STW Confirmation to Sender</label>
          <file>add-in-mage/spreadtheword/sender_confirmation.html</file>
          <type>html</type>
        </addinmage_spreadtheword_email_sender_confirmation>
        <addinmage_spreadtheword_email_simple_invitation translate="label" module="spreadtheword" >
          <label>Add In Mage::STW Simple Invitation</label>
          <file>add-in-mage/spreadtheword/simple_invitaion.html</file>
          <type>html</type>
        </addinmage_spreadtheword_email_simple_invitation>
        <addinmage_spreadtheword_email_discount_to_sender translate="label" module="spreadtheword" >
          <label>Add In Mage::STW Discount to Sender</label>
          <file>add-in-mage/spreadtheword/discount_to_sender.html</file>
          <type>html</type>
        </addinmage_spreadtheword_email_discount_to_sender>
        <addinmage_spreadtheword_email_discount_to_friends translate="label" module="spreadtheword" >
          <label>Add In Mage::STW Discount to Friends</label>
          <file>add-in-mage/spreadtheword/discount_to_friends.html</file>
          <type>html</type>
        </addinmage_spreadtheword_email_discount_to_friends>
        <addinmage_spreadtheword_message_direct_message_simple translate="label" module="spreadtheword" >
          <label>Add In Mage::STW Direct Message Simple</label>
          <file>add-in-mage/spreadtheword/direct_message_simple.html</file>
          <type>text</type>
        </addinmage_spreadtheword_message_direct_message_simple>
        <addinmage_spreadtheword_message_direct_message_discount translate="label" module="spreadtheword" >
          <label>Add In Mage::STW Direct Message Discount</label>
          <file>add-in-mage/spreadtheword/direct_message_discount.html</file>
          <type>text</type>
        </addinmage_spreadtheword_message_direct_message_discount>
        <addinmage_spreadtheword_message_direct_twitter_simple translate="label" module="spreadtheword" >
          <label>Add In Mage::STW Direct Twitter Simple</label>
          <file>add-in-mage/spreadtheword/direct_twitter_simple.html</file>
          <type>text</type>
        </addinmage_spreadtheword_message_direct_twitter_simple>
        <addinmage_spreadtheword_message_direct_twitter_discount translate="label" module="spreadtheword" >
          <label>Add In Mage::STW Direct Twitter Discount</label>
          <file>add-in-mage/spreadtheword/direct_twitter_discount.html</file>
          <type>text</type>
        </addinmage_spreadtheword_message_direct_twitter_discount>
        <addinmage_spreadtheword_advanced_notification_template translate="label" module="spreadtheword" >
          <label>Add In Mage::STW Notification</label>
          <file>add-in-mage/spreadtheword/notification.html</file>
          <type>text</type>
        </addinmage_spreadtheword_advanced_notification_template>
      </email>
    </template>
    <events>
      <controller_action_predispatch_spreadtheword_index_index>
        <observers>
          <spreadtheword>
            <class>AddInMage_SpreadTheWord_Model_Observer</class>
            <method>trackLinks</method>
          </spreadtheword>
        </observers>
      </controller_action_predispatch_spreadtheword_index_index>
      <sales_convert_quote_to_order>
        <observers>
          <spreadtheword>
            <class>AddInMage_SpreadTheWord_Model_Observer</class>
            <method>checkForStwOrder</method>
          </spreadtheword>
        </observers>
      </sales_convert_quote_to_order>
      <controller_action_predispatch_checkout_cart_couponPost>
        <observers>
          <spreadtheword>
            <class>AddInMage_SpreadTheWord_Model_Observer</class>
            <method>checkForRealDiscount</method>
          </spreadtheword>
        </observers>
      </controller_action_predispatch_checkout_cart_couponPost>
    </events>
  </global>
  <crontab>
    <jobs>
      <addinmage_spreadtheword_deletenonactivated>
        <schedule>
          <cron_expr>00 0 * * *</cron_expr>
        </schedule>
        <run>
          <model>spreadtheword/cron::deleteNonActivated</model>
        </run>
      </addinmage_spreadtheword_deletenonactivated>
      <addinmage_spreadtheword_send_emails>
        <run>
          <model>spreadtheword/queue::scheduledSend</model>
        </run>
      </addinmage_spreadtheword_send_emails>
    </jobs>
  </crontab>
</config>
