<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Add In Mage::
 *
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the EULA that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL: http://add-in-mage.com/support/presales/eula/
 *
 *
 * PROPRIETARY DATA
 * 
 * This file contains trade secret data which is the property of Add In Mage:: Ltd. 
 * This file is submitted to recipient in confidence.
 * Information and source code contained herein may not be used, copied, sold, distributed, 
 * sub-licensed, rented, leased or disclosed in whole or in part to anyone except as permitted by written
 * agreement signed by an officer of Add In Mage:: Ltd.
 * 
 * 
 * MAGENTO EDITION NOTICE
 * 
 * This software is designed for Magento Community edition.
 * Add In Mage:: Ltd. does not guarantee correct work of this extension on any other Magento edition.
 * Add In Mage:: Ltd. does not provide extension support in case of using a different Magento edition.
 * 
 * 
 * @category    AddInMage
 * @package     AddInMage_SpreadTheWord
 * @copyright   Copyright (c) 2012 Add In Mage:: Ltd. (http://www.add-in-mage.com)
 * @license     http://add-in-mage.com/support/presales/eula/  End User License Agreement (EULA)
 * @author      Add In Mage:: Team <team@add-in-mage.com>
 */
-->
<config>
  <tabs>
    <addinmage module="spreadtheword" translate="label">
      <label>Add In Mage:: Extensions</label>
      <sort_order>1</sort_order>
      <class>add-in-mage-tab</class>
    </addinmage>
  </tabs>
  <sections>
    <addinmage_spreadtheword module="spreadtheword" translate="label">
      <label>Spread The Word</label>
      <tab>addinmage</tab>
      <sort_order>3</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <general translate="label">
          <label>General</label>
          <frontend_type>text</frontend_type>
          <sort_order>1</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <access translate="label comment">
              <label>STW Extension Access</label>
              <frontend_type>select</frontend_type>
              <source_model>spreadtheword/Configuration_AccessLevel</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select "Spread The Word" frontend access level.</comment>
            </access>
          </fields>
          <fields>
            <visualization translate="label comment">
              <label>Report Visualization</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_enabledisable</source_model>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Enable backend report visualization.</comment>
            </visualization>
          </fields>
        </general>
        <display translate="label">
          <label>Services and Tools Display Settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>2</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <services_per_line translate="label comment">
              <label>Services per Line</label>
              <frontend_type>text</frontend_type>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Enter the number of services you want to display per line.</comment>
            </services_per_line>
          </fields>
          <fields>
            <services_per_row translate="label comment">
              <label>Number of Lines</label>
              <frontend_type>text</frontend_type>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Enter the number of lines with services you want to display.</comment>
            </services_per_row>
          </fields>
        </display>
        <services translate="label">
          <label>Spread the Word Channels and Tools</label>
          <frontend_type>text</frontend_type>
          <sort_order>3</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <mail translate="label comment">
              <label>E-Mail Services</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_enabledisable</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Enable or disable E-mail services support.</comment>
            </mail>
          </fields>
          <fields>
            <mail_services translate="label comment">
              <label>Available E-mail Services</label>
              <frontend_type>multiselect</frontend_type>
              <source_model>spreadtheword/Configuration_AllowedMailServices</source_model>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select the services you want your customers to use.</comment>
              <depends>
                <mail>1</mail>
              </depends>
              <can_be_empty />
            </mail_services>
          </fields>
          <fields>
            <social translate="label comment">
              <label>Social Networks</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_enabledisable</source_model>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Enable or disable social networks.</comment>
            </social>
          </fields>
          <fields>
            <social_services translate="label comment">
              <label>Available Social Networks</label>
              <frontend_type>multiselect</frontend_type>
              <source_model>spreadtheword/Configuration_AllowedSocialServices</source_model>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select the networks you want your customers to use.</comment>
              <depends>
                <social>1</social>
              </depends>
              <can_be_empty />
            </social_services>
          </fields>
          <fields>
            <file translate="label comment">
              <label>Address Book Files</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_enabledisable</source_model>
              <sort_order>5</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Let users upload address book files.</comment>
            </file>
          </fields>
          <fields>
            <file_services translate="label comment">
              <label>Allowed File Types</label>
              <frontend_type>multiselect</frontend_type>
              <source_model>spreadtheword/Configuration_AllowedFileTypes</source_model>
              <sort_order>6</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select the file types you want to allow.</comment>
              <depends>
                <file>1</file>
              </depends>
              <can_be_empty />
            </file_services>
          </fields>
          <fields>
            <manual translate="label comment">
              <label>Manual Invitation</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_enabledisable</source_model>
              <sort_order>7</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Let users enter friends' email addresses to invite them.</comment>
            </manual>
          </fields>
          <fields>
            <max_recipients translate="label comment">
              <label>Max Number of Recipients</label>
              <frontend_type>text</frontend_type>
              <sort_order>8</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Enter the maximum number of recipients allowed.</comment>
              <depends>
                <manual>1</manual>
              </depends>
            </max_recipients>
          </fields>
          <fields>
            <plugin_upload translate="label comment">
              <label>Upload Plugin File</label>
              <frontend_type>import</frontend_type>
              <backend_model>spreadtheword/BackendActions_HandlePlugin</backend_model>
              <upload_dir config="system/filesystem/code" scope_info="0">local/addinmage/spreadtheword/helper/services/tmp</upload_dir>
              <base_url scope_info="1" type="code">local/addinmage/spreadtheword/helper/services/tmp</base_url>
              <sort_order>9</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>
              <comment>Select the plugin file to upload.</comment>
            </plugin_upload>
          </fields>
        </services>
        <oauth translate="label">
          <label>Oauth Settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>4</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>0</show_in_store>
          <fields>
            <oauth_data translate="label">
              <label>Oauth Service Settings</label>
              <frontend_type>select</frontend_type>
              <frontend_model>spreadtheword/adminhtml_oauth</frontend_model>
              <backend_model>adminhtml/system_config_backend_serialized</backend_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </oauth_data>
          </fields>
        </oauth>
        <contact translate="label">
          <label>Customer's Friend List Settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>5</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <select_all translate="label comment">
              <label>Select All Friends by Default</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Choose if you want to select all customer's friends by default.</comment>
            </select_all>
          </fields>
          <fields>
            <mark_already_customers translate="label comment">
              <label>Highlight Existing Customers</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Choose if you want the customer to see your existing clients. *Not available in social networks.</comment>
            </mark_already_customers>
          </fields>
          <fields>
            <mark_already_invited translate="label comment">
              <label>Highlight People Invited Before</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Choose whether to highlight friends whom the customer invited before.</comment>
            </mark_already_invited>
          </fields>
          <fields>
            <show_picture translate="label comment">
              <label>Show Profile Picture</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Let users see their friends' profile pictures.</comment>
            </show_picture>
          </fields>
          <fields>
            <alpha_index translate="label comment">
              <label>Alphabetize Friend List</label>
              <frontend_type>select</frontend_type>
              <source_model>spreadtheword/Configuration_AlphaIndex</source_model>
              <sort_order>5</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select the method for generating the main alphabetical index.</comment>
            </alpha_index>
          </fields>
          <fields>
            <alphabets translate="label comment">
              <label>Specify Alphabet</label>
              <frontend_type>select</frontend_type>
              <source_model>spreadtheword/Configuration_Alphabets</source_model>
              <sort_order>6</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select the alphabet to use for the main alphabetical index.</comment>
              <depends>
                <alpha_index>specific</alpha_index>
              </depends>
            </alphabets>
          </fields>
        </contact>
        <message translate="label">
          <label>Social Network Invitation Templates &amp; Settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>6</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <direct_message_simple translate="label comment">
              <label>Direct Message Invitation</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_email_template</source_model>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select the invitation template sent via direct messages. No discount included.</comment>
            </direct_message_simple>
          </fields>
          <fields>
            <direct_message_discount translate="label comment">
              <label>Direct Message Invitation with a Discount</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_email_template</source_model>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select a template for invitations with a discount sent via direct messages.</comment>
            </direct_message_discount>
          </fields>
          <fields>
            <direct_twitter_simple translate="label comment">
              <label>Twitter: Direct Message Invitation</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_email_template</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select the invitation template sent via direct messages in Twitter. No discount included.</comment>
            </direct_twitter_simple>
          </fields>
          <fields>
            <direct_twitter_discount translate="label comment">
              <label>Twitter: Direct Message Invitation with a Discount</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_email_template</source_model>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select a template for invitations with a discount sent via direct messages in Twitter.</comment>
            </direct_twitter_discount>
          </fields>
          <fields>
            <max_chars_direct translate="label comment">
              <label>Max Characters in a Custom Direct Message</label>
              <frontend_type>text</frontend_type>
              <sort_order>5</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Enter the max number of characters in a custom message. For unlimited length enter zero or leave empty. *Not available in Twitter.</comment>
            </max_chars_direct>
          </fields>
        </message>
        <email translate="label">
          <label>E-mail Invitation Templates &amp; Settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>7</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <identity translate="label comment">
              <label>Email Sender</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_email_identity</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select invitation Email sender.</comment>
            </identity>
          </fields>
          <fields>
            <sender_confirmation translate="label comment">
              <label>Successful Invitation Confirmation to Invitation Senders</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_email_template</source_model>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select the email template to notify the invitation sender that their friends were invited. No discount included.</comment>
            </sender_confirmation>
          </fields>
          <fields>
            <simple_invitation translate="label comment">
              <label>"Invitation only" to Friends</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_email_template</source_model>
              <sort_order>5</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select the email template for invitations sent to customer's friends. No discount included.</comment>
            </simple_invitation>
          </fields>
          <fields>
            <discount_to_sender translate="label comment">
              <label>Discount for the Invitation Sender</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_email_template</source_model>
              <sort_order>6</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select the email template with a discount for the invitation sender.</comment>
            </discount_to_sender>
          </fields>
          <fields>
            <discount_to_friends translate="label comment">
              <label>Discount for Customer's Friends</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_email_template</source_model>
              <sort_order>7</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select the email template with a discount for customer's friends.</comment>
            </discount_to_friends>
          </fields>
          <fields>
            <max_chars translate="label comment">
              <label>Max Characters in a Personal E-mail Message</label>
              <frontend_type>text</frontend_type>
              <sort_order>8</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Enter the max number of characters in a personal message. For unlimited length enter zero or leave empty.</comment>
            </max_chars>
          </fields>
        </email>
        <email_sending translate="label">
          <label>Cron Job Settings for Sending E-mails from the Invitation Stack</label>
          <frontend_type>text</frontend_type>
          <sort_order>8</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>0</show_in_website>
          <show_in_store>0</show_in_store>
          <fields>
            <cron_mode translate="label comment">
              <label>Sending Mode</label>
              <frontend_type>select</frontend_type>
              <source_model>spreadtheword/Configuration_CronMode</source_model>
              <backend_model>spreadtheword/BackendActions_Cron</backend_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select how you want Cron Job to send emails to the invited friends.</comment>
            </cron_mode>
          </fields>
          <fields>
            <time translate="label comment">
              <label>Daily Start Time</label>
              <frontend_type>time</frontend_type>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>All emails in the queue will be sent at this time daily.</comment>
              <depends>
                <cron_mode>cron_time</cron_mode>
              </depends>
            </time>
          </fields>
          <fields>
            <cron_period translate="label comment">
              <label>At the Interval of</label>
              <frontend_type>select</frontend_type>
              <source_model>spreadtheword/Configuration_CronPeriods</source_model>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select cron interval for sending emails.</comment>
              <depends>
                <cron_mode>cron_period</cron_mode>
              </depends>
            </cron_period>
          </fields>
          <fields>
            <partially translate="label comment">
              <label>Send a Limited Number of Emails</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select Yes to send a certain number of emails per interval.</comment>
              <depends>
                <cron_mode>cron_period</cron_mode>
              </depends>
            </partially>
          </fields>
          <fields>
            <item_by_period translate="label comment">
              <label>Items Per Cron Interval</label>
              <frontend_type>text</frontend_type>
              <sort_order>5</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Enter the number of emails you want Cron Job to send during each interval.</comment>
              <depends>
                <partially>1</partially>
                <cron_mode>cron_period</cron_mode>
              </depends>
            </item_by_period>
          </fields>
        </email_sending>
        <behaviour translate="label">
          <label>Rule Settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>9</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <invite_customers translate="label comment">
              <label>Allow Inviting Existing Customers</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Let users send invitations to your existing customers.</comment>
            </invite_customers>
          </fields>
          <fields>
            <invite_invited translate="label comment">
              <label>Allow Inviting Friends More than Once</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Let users send invitations to friends they previously invited.</comment>
            </invite_invited>
          </fields>
          <fields>
            <rules translate="label comment">
              <label>STW Rule for the Current Store</label>
              <frontend_type>select</frontend_type>
              <source_model>spreadtheword/Configuration_Rules</source_model>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>
                <model>spreadtheword/Configuration_Rules</model>
              </comment>
            </rules>
          </fields>
          <fields>
            <account translate="label comment">
              <label>Generate New Accounts</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>5</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <comment>Generate and send account information for the invited friends.</comment>
            </account>
          </fields>
          <fields>
            <account_web translate="label comment">
              <label>Associate New Accounts with</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_website</source_model>
              <sort_order>6</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <comment>Select website to associate new accounts with.</comment>
              <depends>
                <account>1</account>
              </depends>
            </account_web>
          </fields>
          <fields>
            <delete translate="label comment">
              <label>Manage Non-Activated Accounts</label>
              <frontend_type>select</frontend_type>
              <source_model>spreadtheword/Configuration_DeleteAccounts</source_model>
              <sort_order>7</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>
              <comment>Choose what to do with non-activated accounts.</comment>
              <depends>
                <account>1</account>
              </depends>
            </delete>
          </fields>
          <fields>
            <delete_cron translate="label comment">
              <label>Accounts are Considered Inactive After</label>
              <frontend_type>select</frontend_type>
              <source_model>spreadtheword/Configuration_DeletePeriod</source_model>
              <sort_order>8</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>
              <comment>Delete accounts that were not activated during the selected period.</comment>
              <depends>
                <delete>delete_cron</delete>
              </depends>
            </delete_cron>
          </fields>
        </behaviour>
        <advanced translate="label">
          <label>Notifications</label>
          <frontend_type>text</frontend_type>
          <sort_order>10</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>0</show_in_website>
          <show_in_store>0</show_in_store>
          <fields>
            <expire_notifications translate="label comment">
              <label>STW System Notifications</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>
              <comment>Enable system notifications.</comment>
            </expire_notifications>
          </fields>
          <fields>
            <notifications translate="label comment">
              <label>Get Invitation Notifications</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>
              <comment>Enable notifications about invitations.</comment>
            </notifications>
          </fields>
          <fields>
            <notification_method translate="label comment">
              <label>Notification Method</label>
              <frontend_type>select</frontend_type>
              <source_model>spreadtheword/Configuration_NotificationMethod</source_model>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>
              <comment>Select the way you will be notified about new invitations.</comment>
              <depends>
                <notifications>1</notifications>
              </depends>
            </notification_method>
          </fields>
          <fields>
            <identity translate="label comment">
              <label>Notification Sender</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_email_identity</source_model>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select notification email sender.</comment>
              <depends>
                <notification_method>email</notification_method>
              </depends>
            </identity>
          </fields>
          <fields>
            <notification_email translate="label comment">
              <label>Notification Email</label>
              <frontend_type>text</frontend_type>
              <sort_order>5</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Enter email address.</comment>
              <depends>
                <notification_method>email</notification_method>
              </depends>
            </notification_email>
          </fields>
          <fields>
            <copy_to translate="label comment">
              <label>Send Notification Email Copy To</label>
              <frontend_type>text</frontend_type>
              <sort_order>6</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Enter comma-separated emails.</comment>
              <depends>
                <notification_method>email</notification_method>
              </depends>
            </copy_to>
          </fields>
          <fields>
            <copy_method translate="label comment">
              <label>Notification Email Copy Method</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_email_method</source_model>
              <sort_order>7</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select copy method.</comment>
              <depends>
                <notification_method>email</notification_method>
              </depends>
            </copy_method>
          </fields>
          <fields>
            <notification_template translate="label comment">
              <label>Notification Template</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_email_template</source_model>
              <sort_order>8</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Select template.</comment>
              <depends>
                <notification_method>email</notification_method>
              </depends>
            </notification_template>
          </fields>
        </advanced>
        <tracking translate="label">
          <label>Customer's Subsequent Orders</label>
          <frontend_type>text</frontend_type>
          <sort_order>11</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>0</show_in_website>
          <show_in_store>0</show_in_store>
          <fields>
            <lifetime_tracking translate="label comment">
              <label>Register Further Orders by STW Customers</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>
              <comment>See if the STW visitor becomes your regular customer, register their new orders as STW ones in Sales Performance Report.</comment>
            </lifetime_tracking>
          </fields>
        </tracking>
        <hint>
          <frontend_model>spreadtheword/description</frontend_model>
          <sort_order>0</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
        </hint>
      </groups>
    </addinmage_spreadtheword>
  </sections>
</config>
