<!--@subject {{htmlescape var=$sender}} gives you a discount to use at {{var store.getFrontendName()}}! @-->
<!--@vars
{}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
	<div style="background: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
		<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
			<tr>
				<td align="center" valign="top" style="padding: 20px 0 20px 0">
					<!-- [ header starts here] -->

					<table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border: 1px solid #E0E0E0;">
						<tr>
							<td valign="top"><a href="{{store url="spreadtheword/"}}?t=0{{var track_link}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
						</tr>
						<!-- [ middle starts here] -->
						<tr>
							<td valign="top"><h2 style="font-size: 18px; font-weight: normal; line-height: 22px; margin: 0 0 11px 0;"">Dear {{htmlescape var=$name}},</h2>
								<p style="font-size: 12px; line-height: 16px; margin: 0 0 16px 0;">
									You are receiving this email because your friend <strong>{{htmlescape var=$sender}} [{{htmlescape var=$sender_email}}]</strong> invites you to <a href="{{store url="spreadtheword/"}}?t=0{{var track_link}}" style="color: #1E7EC8;">{{var store.getFrontendName()}}</a> and gives you a discount for enjoyable shopping.
								</p>
								<p style="font-size: 12px; line-height: 16px; margin: 0 0 16px 0;">Here is your discount information:</p>
								<p style="border: 1px solid #CADCEB; font-size: 12px; line-height: 16px; margin: 0; padding: 13px 18px; background: #f9f9f9;">
									<strong>Discount Amount</strong>: <strong style="color: #E47349">{{htmlescape var=$amount}}</strong><br />
									<strong>Discount Code</strong>: <strong style="color: #E47349">{{htmlescape var=$code}}</strong><br /> {{if coupon_expire}}<strong>Expiry Date</strong>: {{htmlescape var=$coupon_expire}}<br /> {{/if}} {{if discount_have_conditions}}<strong>Note</strong>: This discount is applied when certain conditions are met. Please contact store for more information.{{/if}}
								</p> <br />
								<p style="font-size: 12px; line-height: 16px; margin: 0;">
									Please note that you need to apply the discount code to <a href="{{store url="spreadtheword/"}}?t=2{{var track_link}}" style="color: #1E7EC8;">Your Cart</a> before Checkout.
								</p> <br /> {{if pm}}
								<p style="border: 1px solid #CADCEB; font-size: 12px; line-height: 16px; margin: 0; padding: 13px 18px; background: #f9f9f9;">
									<strong>A personal message from {{htmlescape var=$sender}}</strong>: {{htmlescape var=$pm}}<br />
								</p> <br /> {{/if}}
								<p style="font-size: 12px; line-height: 16px; margin: 0;">
									You can get an additional discount by inviting your friends* or sending them a discount* from <a href="{{store url="spreadtheword/"}}?t=1{{var track_link}}" style="color: #1E7EC8;">this page</a>.
								</p> <br />
								<p style="font-size: 12px; line-height: 16px; margin: 0;">
									If you have any questions about your discount or any other matter, please feel free to contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color: #1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>{{if config path='general/store_information/phone'}} or by phone at {{config path='general/store_information/phone'}}{{/if}}.
								</p> <br />
								<p style="font-size: 11px; color: #777; line-height: 16px; margin: 0;">
									* Depends on the current store <a href="{{store url="spreadtheword/"}}?t=1{{var track_link}}" style="color: #1E7EC8;">Invitation Terms</a>.
								</p></td>
						</tr>
						<tr>
							<td bgcolor="#EAEAEA" align="center" style="background: #EAEAEA; text-align: center;">
									<p style="font-size: 12px; margin: 0; text-align: center;">
										Thank you again, <strong>{{var store.getFrontendName()}}</strong>
									</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</body>
