<config>
  <!-- <tabs> -->
  <!--   <beesocial_config translate="label" module="beesocial"> -->
  <!--       <label>Beetailer</label> -->
  <!--       <sort_order>99999</sort_order> -->
  <!--   </beesocial_config> -->
  <!-- </tabs>  -->
  <sections>
    <beesocial_options translate="label" module="beesocial">
      <label>Social Widget preferences</label>
      <tab>general</tab>
      <sort_order>10000</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>                    
      <groups>
        <general translate="label">
          <label>General configuration</label>
          <sort_order>1</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>                
          <fields>
            <color>
              <label>Color Schema</label>
              <frontend_type>radios</frontend_type>
              <source_model>beesocial/themes</source_model>                           
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>                    
            </color>
            <style>
              <label>Basic Style</label>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>                    
            </style>
            <disable_fb_like>
              <label>Disable Facebook like widget</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>                           
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>                    
            </disable_fb_like>
            <disable_twitter>
              <label>Disable Twitter widget</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>                           
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>                    
            </disable_twitter>
            <disable_comments>
              <label>Disable Facebook coments</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>                           
              <sort_order>5</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>                    
            </disable_comments>
            <disable_plusone>
              <label>Disable +1 button</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>                           
              <sort_order>6</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>                    
            </disable_plusone>
          </fields>
        </general>
        <fb_comments translate="label">
          <label>Facebook comments</label>
          <sort_order>2</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>                
          <fields>
            <width>
              <label>Width</label>
              <comment>Width in pixels</comment>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>                    
            </width>
            <number>
              <label>Comments number</label>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>                    
            </number>
          </fields>
        </fb_comments>
        <twitter translate="label">
          <label>Twitter</label>
          <sort_order>3</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>                
          <fields>
            <text>
              <label>Text in the tweet</label>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>                    
            </text>
          </fields>
        </twitter>
      </groups>
    </beesocial_options>
  </sections> 
</config>
